$TTL {{ item.ttl | default(bind_default_ttl) }}
@ IN  SOA {{ bind_authns }}. {{ bind_admin }}. (
          {{ item.serial | default(bind_current_serial) }}      ; serial
          86400           ; refresh (1 week)
          600             ; retry (1 day)
          25920000        ; expire (4 weeks)
          900 )           ; minimum (1 week)
@ IN  NS  {{ bind_authns }}.
{% for ns in item.ns %}
@ IN  NS  {{ ns }}.
{% endfor %}
;
{{ item.records }}
